<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body id="<%= sport %>-body">
      <!-- Page Content -->
      <div id="<%= sport %>-main">
        <% include ../static/partials/topNav.ejs %>
        <% include ../static/partials/messages.ejs %>
      <main class="container mt-2" id="underline">
            <div class="row justtify-content-center">
                <h3 class="display-3 ml-auto mr-3 text-light align-self-center"><%= score1 %> - </h3>
                <h4 class="display-3 mr-auto text-light align-self-center"><%= game.team1 %></h4>
            </div>
            <div class="row justtify-content-center">
                <h3 class="display-3 ml-auto mr-3 text-light align-self-center"><%= score2 %> - </h3>
                <h4 class="display-3 mr-auto text-light align-self-center"><%= game.team2 %></h3>
            </div>
            <% if(messagess != null){ %>
                <ul class="list-group"></ul>
                <% messagess.forEach((message) => { %>
                    <% if(message.userId == currentUser.id){ %>
                        <li class="list-group-item text-light text-right bg-success mt-1 ml-5" id="yourMessage">
                    <% } else { %>
                        <li class="list-group-item text-light text-left bg-primary mt-1 mr-5" id="message">
                    <% } %>
                        <strong><%= message.username %></strong> -- <%= message.message %>
                    </li>
                </ul>
                <% })  } else {%>
                <h3 class="text-light mt-2 text-center">There aren't any messages yet.  Be the first to create one!</h3>
                    <% } %>
            <% if(currentUser){ %>
            <form method="post" action="/<%= sport %>/<%= chat.id %>/<%= chat.team1 %>/<%= chat.team2 %>/message/create">
                <div class="form-group mt-5">
                    <label for="message" class="text-light">Create Message</label>
                    <textarea rows="4" class="form-control" name="message" placeholder="Enter Message Here"></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-success mb-5">Submit</button>
            </form>
            <% } else { %> 
                <h3 class="text-light mt-5 text-center mb-5">You must be signed in to create messages</h3>
            <% } %>
      </main>
    </div>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>

      <script>
        setInterval(function() {
            $.ajax({
                method: 'GET',
                accept: 'application/json',
                url: '/update_scores/<%= sport %>/<%= game.team1 %>/<%= game.team2 %>',
                success: function(data, textStatus, xhr) {
                    $('#score1').text(data.score1);
                    $('#score2').text(data.score2);
                }
            });
        }, 60 * 1000);
      </script>
    </body>
</html>