<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
      <% include ../static/partials/messages.ejs %>
      <% include ../static/partials/topNav.ejs %>
      <main class="container pt-5">
        <!-- Page Features -->
        <section class="scores">
              <div class="row">
                <h2 class="col-sm-5 text-right"></h2>
                <h2 class="col-sm-2 text-center font-weight-bold">Score</h2>
                <h2 class="col-sm-5 text-left"></h2>
              </div>
              <% games.forEach((game) => { %>
                <div class="row">
                  <h3 class="col-sm-5 text-right "><%= game.team1 %></h3>
                  <h5 class="col-sm-2 text-center"><%= game.score %></h5>
                  <h3 class="col-sm-5 text-left"><%= game.team2 %></h3>
                </div>
                <div class="row">
                  <a class=" text-center btn btn-primary" role="button" href="/<%= sport %>/<%= game.team1 %>/<%= game.team2 %>/chat">Chat</a>
                </div>
              <% }) %>
        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>