<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body id="background2">
      <% include ../static/partials/messages.ejs %>
      <% include ../static/partials/topNav.ejs %>
      <main class="container" >
        <!-- Page Features -->
        <h1 id="sports-title" class="pb-0 display-2 text-center text-white pl-auto pr-auto mb-4 ml-auto mr-auto"><%= sport.charAt(0).toUpperCase() + sport.slice(1) %> Scores</h1>
        <section id="scores">
          <% if(games.length == 0) { %>
            <h2 class="ml-5 mr-5 mb-5 mt-5 text-white">There are no <%= sport %> games going on right now.  Checkout another sport below for scores.</h2>
          <% } %>
          <% for(var i=0; i < games.length; i++) { %>
            <% var score1 = games[i].score.split("-", 2)[0];  var score2 = games[i].score.split("-", 2)[1]; %>
            <% if(i % 2 == 0) { %>
              <div class="group">
            <% } else { %>
              <div class="group2">
            <% } %>
              <div class="row justtify-content-center">
                <h3 class="ml-auto mr-2 text-dark align-self-center"><%= score1 %> - </h3>
                <h4 class="mr-auto text-dark align-self-center"><%= games[i].team1 %></h3>
              </div>
              <div class="row justtify-content-center">
                  <h3 class="ml-auto mr-2 text-dark align-self-center"><%= score2 %> - </h3>
                  <h4 class="mr-auto text-dark align-self-center"><%= games[i].team2 %></h3>
                </div>
              <div class="row">
                <a class="ml-auto mr-auto btn btn-secondary" role="button" href="/<%= sport %>/<%= games[i].team1 %>/<%= games[i].team2 %>/chat">Join the Chatroom</a>
              </div>
            </div>
          <% } %>
        </section>
        <section class="bg-light" id="sports">
            <h1 id="pickSportTitle" class="text-center pt-0 mb-0 display-3">Sports</h1>
            <h6 class="ml-auto mr-auto mb-4 text-muted text-center">Pick a sport to see scores</h6>
            <div class="row ml-auto mr-auto mb-2 justify-content-center">
              <% if(sport != 'football') {%>
                <a class="col-lg-2 col-sm-12 col-xs-12 mb-2 buttons" href="/scores/football">
                  <button type="button " class="btn btn-info">
                    Football
                  </button>
                </a>
              <% } %>
              <% if(sport != 'baseball') {%>
                <a class="col-lg-2 col-sm-12 col-xs-12 mb-2 buttons" href="/scores/baseball">
                  <button type="button " class="btn btn-info ">
                    Baseball
                  </button>
                </a>
              <% } %>
              <% if(sport != 'soccer') {%>
                <a class="col-lg-2 col-sm-12 col-xs-12 mb-2 buttons" href="/scores/soccer">
                  <button type="button " class="btn btn-info ">
                    Soccer
                  </button>
                </a>
              <% } %>
              <% if(sport != 'tennis') {%>
                <a class="col-lg-2 col-sm-12 col-xs-12 mb-2 buttons" href="/scores/tennis">
                  <button type="button " class="btn btn-info ">
                    Tennis
                  </button>
                </a>
              <% } %>
              <% if(sport != 'hockey') {%>
                <a class="col-lg-2 col-sm-12 col-xs-12 mb-2 buttons" href="/scores/hockey">
                  <button type="button " class="btn btn-info ">
                    Hockey
                  </button>
                </a> 
              <% } %>    
            </div>
        </section>

      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>