<!DOCTYPE html>
<html lang="en">

  <% include ../static/partials/head.ejs %>
  <body>
      <% include ../static/partials/messages.ejs %>
      <% include ../static/partials/topNav.ejs %>
      <main class="container pt-5">
        <!-- Page Features -->
        <section class="scores">
              <div class="row">
                <h2 class="col-sm-5 text-right font-weight-bold">Team 1</h2>
                <h2 class="col-sm-2 text-center font-weight-bold">Score</h2>
                <h2 class="col-sm-5 text-left font-weight-bold">Team 2</h2>
              </div>
              <% for(var i=0; i < games.length; i++) {%>
                <% if(i % 2 == 0) { %>
                  <div class="group">
                <% } else { %>
                  <div class="group2">
                <% } %>
                  <div class="row">
                    <h3 class="col-sm-5 text-right "><%= games[i].team1 %></h3>
                    <h5 class="col-sm-2 text-center"><%= games[i].score %></h5>
                    <h3 class="col-sm-5 text-left"><%= games[i].team2 %></h3>
                  </div>
                  <div class="row">
                    <a class="ml-auto mr-auto btn btn-primary" role="button" href="/<%= sport %>/<%= games[i].team1 %>/<%= games[i].team2 %>/chat">Join the Chatroom</a>
                  </div>
                </div>
              <% } %>
        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>